/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/wicked-mouse');

                
/* Changing the main font and background colour */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
	color: midnightblue;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color:#329cce;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #f8f0e6;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}



.info-wrapper {
  background-color: rgba(252, 239, 212, 0.9);
  padding: 40px;
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.blue-background { 
	background-color: #329CCE;
}

.accordion-body {
  word-break: break-word;
}

.yellow-border {
	border: 3px solid #FAC74F;
}

.contact {
	position: relative;
	min-height: auto;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url("../images/volleyball-sunset-lake-silhouettes.jpg");
	background-size: cover;
	background-attachment: fixed;
}


.contact .content {
	max-width: 800px;
	text-align: center;
}

.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: #329CCE;
}

.contact .content p{
	font-weight: 300;
	color: black;
} 

.contact-info .box .text a {
  display: flex;
  align-items: center;
  gap: 10px;
}


.container { 
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;	
}

.container .contact-info {
	width: 50%;
	display: flex;
	flex-flow: column;
}

.container .contact-info .box {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.container .contact-info .box .icon {
	min-width: 60px;
	height: 60px;
	background: #FCEFD4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.container .contact-info .box .text { 
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: black;
	flex-direction: column;
	font-weight: 300;
}

.container .contact-info .box .text h3 { 
	font-weight: 500;
	color: #329CCE;
}

.contact-form {
  width: 40%;
  padding: 40px;
  background-color: rgba(252, 239, 212, 0.9);
  border-radius: 20px;
  border: 2px solid #FAC74F;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.contact-form h2 {
	font-size: 30px;
	color: #329CCE;
}

.contact-form .input-box {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contact-form .input-box textarea {
	height: 180px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #D14139;
	outline: none;
	resize: none;
}

.contact-form .input-box span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0,5s;
	color: black;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span, 
.contact-form .input-box textarea:valid ~ span {
	color: #329CCE;
	font-size: 12px;
	transform: translateY(-20px);
}

.contact-form .input-box input[type="button"] { 
	width: inherit;
	background: #329CCE;
	color: #FCEFD4;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .container {
    flex-direction: column;
  }

  .container .contact-info {
    width: 100%; 
    margin-bottom: 40px;
  }

  .contact-form {
    width: 100%;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}

.blue-color {
	color: #329cce
}

.red-color {
	color: #d14e39
}
.yellow-color {
	color: #fac74f
}

.off-white {
	color: #ffeed1
}

.card-picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.custom-buttton {
	background-color: #d14e39;
  	border-color: #d14e39;
}

.mainpage-card-picture {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.contact-form .password p {
  font-size: 13px;
  color: #329cce;
}

.contact-form .password p:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*navbar buttons*/
.custom-create-btn {
  background-color: none;
  color: #D14139;
  border: 1px solid #D14139;
}

.custom-create-btn:hover {
  background-color: #D14139;
  color: black;
}

.custom-login-btn {
  background-color: none;  
  color: #329cce;
  border: 1px solid #329cce;
}

.custom-login-btn:hover {
  background-color: #329cce;
  color: black;
}

.contact.login-page {
  background: url("../images/team-action-shot-beach.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-font {
	font-family: 'Wicked Mouse', sans-serif; 
}

#carouselExampleCaptions {
  height: 500px;
}

.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


